name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: |
        pwd
        ls
        dotnet restore ./BackEnd/TiktokClone/TiktokClone.sln

    - name: Build
      run: |
        pwd
        ls
        dotnet build ./BackEnd/TiktokClone/TiktokClone.sln --no-restore --configuration Release

    - name: Run tests (if any)
      run: |
        echo "No tests configured. Add test projects to run them here."
